<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE Configuration>
<Configuration>
	<Appenders>
		<Console name="Console">
			<PatternLayout pattern="%d %p [%c] - %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="warn">
			<AppenderRef ref="Console" />
		</Root>
		<Logger name="org.hibernate.SQL" level="debug" />
	</Loggers>
</Configuration>
